.advantages__description {
  text-align: center;
  padding: 47px 50px 56px 50px;
}

.advantages__description-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
  margin-top: 0;
}

.advantages__description-text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 0;
}

.advantages__block-images {
  display: flex;
  flex-direction: column;
}

.advantages__block {
  padding: 47px 32px 42px 32px;
  background-color: $color-seagull;
  color: $color-default-white;
}

.advantages__block-title {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__item-num {
  text-align: center;
  margin-bottom: 26px;
  padding: 0;
  display: block;
  font-size: 14px;
  line-height: 21px;
}

.advantages__block-description {
  text-align: center;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.advantages__list-color-whisper {
  background-color: $color-whisper;
}

.advantages__list-item {
  margin: 0;
  padding: 43px 51px 62px 51px;
}

.advantages__item-title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 0;
}

.advantages__item-description {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.advantages__list-itemhouse {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
}

.advantages__list-itemeat {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
}

.advantages__list-itemsouvenirs {
  background-image: url("../../img/icon-podarok.svg");
  background-repeat: no-repeat;
}
