.booking__header {
  padding: 61px 382px 66px 382px;
}

.booking__header-motivation {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.booking__header-description {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 45px;
}

.booking__header-button {
  display: inline-block;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 15px 119px 17px 119px;
  text-decoration: none;
  text-transform: uppercase;
}

.booking__map-size {
  width: 1200px;
  height: 350px;
}