.catalog {
  margin: 0;
  padding: 0;
  background-color: $color-whisper-2;
}

.catalog__body {
  font-size: 18px;
  line-height: 21px;
  font-family: $font-family-main;
  color: $color-default-black;
  background-color: $color-default-white;
  margin: 0 auto;
}
