.footer {
  display: flex;
  flex-direction: column;
}

.footer__social-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__developed-link {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
