.foto__images .foto__item-title {
  position: relative;
  bottom: 70px;
  left: 21px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $color-default-white;
}

.foto__item-text {
  position: relative;
  bottom: 85px;
  left: 21px;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
}

.foto__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.foto__list .foto__list-title {
  position: relative;
  bottom: 70px;
  left: 21px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $color-default-white;
}

.foto__list-text {
  position: relative;
  bottom: 85px;
  left: 21px;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
}
