.foto-description__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
  margin-top: 0;
  text-align: center;
}

.foto-description__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 48px;
  margin-top: 0;
  text-align: center;
  color: $color-night-rider;
}
