.presentation {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding: 58px 60px 66px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 200px 66px 200px;
  }
}

.presentation__description {
  padding: 17px 26px 38px 26px;
  margin-bottom: 63px;

  @media (min-width: $tablet-width) {
    padding: 58px 100px 66px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 177px 64px 177px;
  }
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 30px;
    margin-bottom: 25px;
  }
}

.presentation__text {
  font-size: 14px;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.presentation__video-block {
  position: relative;
  text-align: center;
  margin: auto;
  padding: 0 20px;
}

.presentation__video-block img {
  min-height: 177px;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    min-width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.presentation__video-button {
  background-image: url("../img/catalog/play-video.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 54px;
  border: none;
  background-color: transparent;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
