.user {
  padding: 0;
  border-style: none;
}

.user__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 20px;
}

.user__item {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $color-night-rider;
}

.user__input {
  background-color: $color-white-smoke;
  border: none;
}
