.welcome {
  background-color: $color-default-white;
  background-image: url("../img/index-background-index-page.jpg");
  padding: 40px;
  position: relative;
}

.welcome img {
  display: block;
  margin: 0 auto;
}

.welcome::before {
  content: "";
  position: absolute;
  background-image: url("../../img/down-welcome-mobile.svg");
  min-width: 100%;
  height: 56px;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../../img/down-welcome-tablet.svg");
    min-width: 100%;
    height: 56px;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("../../img/down-welcome-desktop.svg");
    min-width: 100%;
    height: 56px;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
  }
}


