.welcome {
  background-color: $color-whisper;
  background-image: url("../img/catalog/back-desktop.jpg");
  padding: 52px 40px 52px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 95px 40px 117px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 103px 40px 122px 40px;
  }
}

.welcome--main {
  background-image: url("../img/index-background-index-page.jpg");
  padding: 90px 40px 85px 40px;

  @media (min-width: $tablet-width) {
    padding: 77px 40px 90px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 40px 90px 40px;
  }
}

.welcome::before {
  content: "";
  position: absolute;
  background-image: url("../img/down-welcome-mobile.svg");
  min-width: 100%;
  height: 56px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  bottom: -1px;
  left: 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/down-welcome-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/down-welcome-desktop.svg");
  }
}

.welcome img {
  display: block;
  margin: 0 auto;
}
