.welcome-catalog {
  background-color: $color-default-white;
  background-image: url("../img/catalog/back-desktop.jpg.jpg");
  padding: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-catalog img {
  display: block;
  margin: 0 auto;
}
